<header>
    <mat-toolbar>
        <button mat-icon-button (click)="openSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="">Brant's Blog</a>
        <!-- This fills the remaining space of the current row -->
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
        <asl-google-signin-button type="standard" size="medium" shape="pill">
        </asl-google-signin-button>
    </mat-toolbar>
</header>