footer {
  position: relative;
  background-color: #f1f2f3;
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

@media (min-width: 900px) {
  .footer-content {
    display: flex;
    justify-content: space-evenly;
  }
}

.footer-content {
  padding: 1em;
}

section {
  margin-bottom: 1em;
}

@media (min-width: 900px) {
  .company-info {
    width: 20em;

    img {
      height: 48px;
      width: 48px;
    }
  }
}

.company-info {
  img {
    height: 48px;
    width: 48px;
  }
}

.company-info-header {
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    margin: .5em;
  }
}

.company-info-content {
  font-size: small;
  margin: .5em;
}

.footer-links {
  a {
    display: block;
    text-decoration: none;
    font-size: small;
    color: #7e868d;
  }

  a:visited {
    color: #7e868d;
  }

  a:hover {
    color: #b1bcc6;
  }
}

.contact-row {
  display: flex;
  align-items: center;
  font-size: small;

  span {
    padding-left: 1em;
  }
}

address {
  font-style: normal;
}

.social-links {
  min-width: 12em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-icons {
  color: #7e868d;
}

.footer-bottom {
  margin: 0;
  height: 2em;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: x-small;
  }
}