.card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card {
    margin: 1em;
}

:hover mat-card-content {
    background-color: #eeeeee;
}