h1 {
    margin: 1em 0 0 1em;
    font-weight: bold;
}

.blog-container {
    max-width: 1700px;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    // justify-content: space-evenly;
    flex-flow: row wrap;
}